<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <img src="/images/{{producto.imagen}}">
            </div>
          </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price" name="precio">${{producto.precio}}</p>            
              <h6 name="nombre_producto">{{producto.nombre}}</h6>
             <!-- Avaiable -->
            <p class="avaibility"><i class="fa fa-circle"></i>En Stock</p>
          </div>

          <div class="short_overview my-5">
            <p>{{producto.descripcion}}</p>
          </div>

          <!-- Add to Cart Form -->
          <form class="cart clearfix" method="post" action="/tienda/single/{{producto.id_producto}}">
            <div class="cart-btn d-flex mb-50">
              <p>Cantidad</p>
              <input type="number" placeholder="1" id="cantidad" name="cantidad" aria-valuemin="1" aria-valuemax="100" required>
            </div>
            <button type="submit" class="btn amado-btn">Agregar al carrito</button>
          </form>

        </div>
      </div>
    </div>
    </div>
    </div>